#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.plus{
  margin-right: 2px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.plus:hover {
  transform: translateY(-5px);
}

.plus:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.minus{
  cursor: pointer;
  margin-right: 2px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.minus:hover {
  transform: translateY(-5px);
}

.minus:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.remove{
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.remove:hover {
  transform: translateY(-5px);
}

.remove:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}



.btnCl{
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.btnCl:hover {
  transform: translateY(-5px);
}

.btnCl:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

